:root {
  --decovar-font-blue: "Oleo Script";
  --decovar-font-dark: "Raleway";
}

/* Позиционирование */

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 0;
}

.list {
  list-style: none;
}

.list-item {
  margin-left: 48px;
}

/* Блочная модель */

.header {
  display: flex;
  flex-direction: row;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.image {
  display: block;
}

/* Типографика */

/* WebStudio */
.webstudio-blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

/* Отображение */

body {
  background-color: #fff;
  color: #212121;
}

.hero {
  background-color: #2f303a;
}

.link {
  text-decoration: none;
  color: #212121;
}

.active,
.links:focus,
.links:hover,
.links:active,
.buttons:focus,
.buttons:hover,
.buttons:active {
  color: #2196f3;
}

.h1-text {
  color: #fff;
}

/* Прочее */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
